<br>
<br>
<br>
<br>

<div class="wrapper">
  <marquee style="font-size: 20px;"><b>US Equities</b></marquee>

  <div id="formContent">
    <h2 class="underlineHover"  routerLink="/useqmonthlybuy"  routerLinkActive="active">Monthly Buy</h2>
    <h2 class="underlineHover"  routerLink="/useqmonthlysell"  routerLinkActive="active">Monthly Sell</h2>

    
    <h2 class="underlineHover"  routerLink="/useqweeklybuy"  routerLinkActive="active">Weekly Buy</h2>
    <h2 class="underlineHover"  routerLink="/useqweeklysell"  routerLinkActive="active">Weekly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/useqdailybuy"  routerLinkActive="active">Daily Buy</h2>
    <h2 class="underlineHover"  routerLink="/useqdailysell"  routerLinkActive="active">Daily Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/useqhourlybuy"  routerLinkActive="active">Hourly Buy</h2>
    <h2 class="underlineHover"  routerLink="/useqhourlysell"  routerLinkActive="active">Hourly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/useqmins30buy"  routerLinkActive="active">30 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/useqmins30sell"  routerLinkActive="active">30 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/useqmins15buy"  routerLinkActive="active">15 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/useqmins15sell"  routerLinkActive="active">15 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/useqmins5buy"  routerLinkActive="active">5 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/useqmins5sell"  routerLinkActive="active">5 Mins Sell</h2>
    
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer" style="background-color: #10085A;">
  <p>Posted by: MarketWinks LLC</p>
  <p>Contact information: <a href="mailto:contact@marketwinks.com">
    contact@marketwinks.com</a>.</p>
    
    <a href="www.google.com">  
      YouTube
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    <a href="www.google.com">  
      FaceBook
      <!--img class="fb-ico" src="../../../assets/images/rsz_fb_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Instagram
      <!--img class="insta-ico" src="../../../assets/images/rsz_insta_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Linkedin
      <!--img class="linkedin-ico" src="../../../assets/images/rsz_linkedin_ico.jpg"-->
    </a>
    
    <br>
    <br>
    <a href="www.google.com">  
      Privacy Policy
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    </div>  
