<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<!-- 
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/> -->

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
  />

<div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("https://images.unsplash.com/photo-1583752028088-91e3e9880b46?ixlib=rb-1.2.1&auto=format&amp;fit=crop&amp;w=1267&amp;q=80");'>
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <br><br>
            <h1 class="text-white font-semibold text-5xl">
              AI Driven Live Trading Forecasts with Confidence Level.
            </h1><br>
            <h3 class="text-white" style="font-size: x-large;">
              Global Equities. Indices
              <br>Forex. Cryptos. Commodities
            </h3>
            <br><br>
            <button *ngIf="!authService.loggedIn()" (click)="gotoSignup()" class="text-black font-bold py-2 px-4 rounded" style="background-color: white;">
              Get 7 Days Free Trial
            </button>
            <button *ngIf="authService.loggedIn()" (click)="gotoCart()" class="text-black font-bold py-2 px-4 rounded" style="background-color: white;">
              Renew Now
            </button>

            
            <!-- <p class="mt-4 text-lg text-gray-300">
              This is a simple example of a Landing Page you can build using
              Tailwind Starter Kit. It features multiple CSS components
              based on the Tailwindcss design system.
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
   

    <br>


<div class="container" *ngIf="authService.loggedIn()">

  <div class="wrapper">
    
  <form align=center #searchForm="ngForm" (ngSubmit)="searchForm.valid && onSubmit()">

    <!--input type="text" list="symbols" name="symbol" #symbol="ngModel" [(ngModel)]="model.symbol" placeholder="Type symbol to search" 
    required [ngClass]="{'invalid-textbox' :searchForm.submitted}">

    <datalist id="symbols">
      <option value="BRBY        Burberry:LSE">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist-->

    <select class="select2 form-control" 
    name="symbol" #symbol="ngModel" [(ngModel)]="model.symbol">
    <option value="III" style="color:#10085A;font-weight: bold;">3i - EQ : LSE(UK) : III</option>
<option value="ADM" style="color:#10085A;font-weight: bold;">Admiral Group - EQ : LSE(UK) : ADM</option>
<option value="AAL" style="color:#10085A;font-weight: bold;">Anglo American PLC - EQ : LSE(UK) : AAL</option>
<option value="ANTO" style="color:#10085A;font-weight: bold;">Antofagasta - EQ : LSE(UK) : ANTO</option>
<option value="AHT" style="color:#10085A;font-weight: bold;">Ashtead Group - EQ : LSE(UK) : AHT</option>
<option value="ABF" style="color:#10085A;font-weight: bold;">Associated British Foods - EQ : LSE(UK) : ABF</option>
<option value="AZN" style="color:#10085A;font-weight: bold;">AstraZeneca - EQ : LSE(UK) : AZN</option>
<option value="AUTO" style="color:#10085A;font-weight: bold;">Auto Trader Group - EQ : LSE(UK) : AUTO</option>
<option value="AVST" style="color:#10085A;font-weight: bold;">Avast - EQ : LSE(UK) : AVST</option>
<option value="AVV" style="color:#10085A;font-weight: bold;">Aveva - EQ : LSE(UK) : AVV</option>
<option value="AV" style="color:#10085A;font-weight: bold;">Aviva - EQ : LSE(UK) : AV</option>
<option value="BA" style="color:#10085A;font-weight: bold;">BAE Systems - EQ : LSE(UK) : BA</option>
<option value="BARC" style="color:#10085A;font-weight: bold;">Barclays - EQ : LSE(UK) : BARC</option>
<option value="BDEV" style="color:#10085A;font-weight: bold;">Barratt Developments - EQ : LSE(UK) : BDEV</option>
<option value="BKG" style="color:#10085A;font-weight: bold;">Berkeley Group Holdings - EQ : LSE(UK) : BKG</option>
<option value="BHP" style="color:#10085A;font-weight: bold;">BHP - EQ : LSE(UK) : BHP</option>
<option value="BP" style="color:#10085A;font-weight: bold;">BP - EQ : LSE(UK) : BP</option>
<option value="BATS" style="color:#10085A;font-weight: bold;">British American Tobacco - EQ : LSE(UK) : BATS</option>
<option value="BLND" style="color:#10085A;font-weight: bold;">British Land - EQ : LSE(UK) : BLND</option>
<option value="BT-A" style="color:#10085A;font-weight: bold;">BT Group - EQ : LSE(UK) : BT-A</option>
<option value="BNZL" style="color:#10085A;font-weight: bold;">Bunzl - EQ : LSE(UK) : BNZL</option>
<option value="BRBY" style="color:#10085A;font-weight: bold;">Burberry - EQ : LSE(UK) : BRBY</option>
<option value="CCH" style="color:#10085A;font-weight: bold;">Coca-Cola HBC - EQ : LSE(UK) : CCH</option>
<option value="CPG" style="color:#10085A;font-weight: bold;">Compass Group - EQ : LSE(UK) : CPG</option>
<option value="CRH" style="color:#10085A;font-weight: bold;">CRH plc - EQ : LSE(UK) : CRH</option>
<option value="CRDA" style="color:#10085A;font-weight: bold;">Croda International - EQ : LSE(UK) : CRDA</option>
<option value="DCC" style="color:#10085A;font-weight: bold;">DCC plc - EQ : LSE(UK) : DCC</option>
<option value="DGE" style="color:#10085A;font-weight: bold;">Diageo - EQ : LSE(UK) : DGE</option>
<option value="EVR" style="color:#10085A;font-weight: bold;">Evraz - EQ : LSE(UK) : EVR</option>
<option value="EXPN" style="color:#10085A;font-weight: bold;">Experian - EQ : LSE(UK) : EXPN</option>
<option value="FERG" style="color:#10085A;font-weight: bold;">Ferguson plc - EQ : LSE(UK) : FERG</option>
<option value="FLTR" style="color:#10085A;font-weight: bold;">Flutter Entertainment - EQ : LSE(UK) : FLTR</option>
<option value="FRES" style="color:#10085A;font-weight: bold;">Fresnillo - EQ : LSE(UK) : FRES</option>
<option value="GSK" style="color:#10085A;font-weight: bold;">GlaxoSmithKline - EQ : LSE(UK) : GSK</option>
<option value="GLEN" style="color:#10085A;font-weight: bold;">Glencore - EQ : LSE(UK) : GLEN</option>
<option value="GVC" style="color:#10085A;font-weight: bold;">GVC Holdings - EQ : LSE(UK) : GVC</option>
<option value="HLMA" style="color:#10085A;font-weight: bold;">Halma - EQ : LSE(UK) : HLMA</option>
<option value="HL" style="color:#10085A;font-weight: bold;">Hargreaves Lansdown - EQ : LSE(UK) : HL</option>
<option value="HIK" style="color:#10085A;font-weight: bold;">Hikma Pharmaceuticals - EQ : LSE(UK) : HIK</option>
<option value="HSV" style="color:#10085A;font-weight: bold;">Homeserve - EQ : LSE(UK) : HSV</option>
<option value="HSBA" style="color:#10085A;font-weight: bold;">HSBC - EQ : LSE(UK) : HSBA</option>
<option value="IMB" style="color:#10085A;font-weight: bold;">Imperial Brands - EQ : LSE(UK) : IMB</option>
<option value="INF" style="color:#10085A;font-weight: bold;">Informa - EQ : LSE(UK) : INF</option>
<option value="IHG" style="color:#10085A;font-weight: bold;">InterContinental Hotels Group - EQ : LSE(UK) : IHG</option>
<option value="ICP" style="color:#10085A;font-weight: bold;">Intermediate Capital Group - EQ : LSE(UK) : ICP</option>
<option value="IAG" style="color:#10085A;font-weight: bold;">International Airlines Group - EQ : LSE(UK) : IAG</option>
<option value="ITRK" style="color:#10085A;font-weight: bold;">Intertek - EQ : LSE(UK) : ITRK</option>
<option value="ITV" style="color:#10085A;font-weight: bold;">ITV plc - EQ : LSE(UK) : ITV</option>
<option value="JD" style="color:#10085A;font-weight: bold;">JD Sports - EQ : LSE(UK) : JD</option>
<option value="JMAT" style="color:#10085A;font-weight: bold;">Johnson Matthey - EQ : LSE(UK) : JMAT</option>
<option value="JET" style="color:#10085A;font-weight: bold;">Just Eat Takeaway - EQ : LSE(UK) : JET</option>
<option value="KGF" style="color:#10085A;font-weight: bold;">Kingfisher - EQ : LSE(UK) : KGF</option>
<option value="LAND" style="color:#10085A;font-weight: bold;">Land Securities - EQ : LSE(UK) : LAND</option>
<option value="LGEN" style="color:#10085A;font-weight: bold;">Legal & General - EQ : LSE(UK) : LGEN</option>
<option value="LLOY" style="color:#10085A;font-weight: bold;">Lloyds Banking Group - EQ : LSE(UK) : LLOY</option>
<option value="LSE" style="color:#10085A;font-weight: bold;">London Stock Exchange Group - EQ : LSE(UK) : LSE</option>
<option value="MNG" style="color:#10085A;font-weight: bold;">M&G - EQ : LSE(UK) : MNG</option>
<option value="MRO" style="color:#10085A;font-weight: bold;">Melrose Industries - EQ : LSE(UK) : MRO</option>
<option value="MNDI" style="color:#10085A;font-weight: bold;">Mondi - EQ : LSE(UK) : MNDI</option>
<option value="MRW" style="color:#10085A;font-weight: bold;">Morrisons - EQ : LSE(UK) : MRW</option>
<option value="NG" style="color:#10085A;font-weight: bold;">National Grid plc - EQ : LSE(UK) : NG</option>
<option value="NXT" style="color:#10085A;font-weight: bold;">Next plc - EQ : LSE(UK) : NXT</option>
<option value="OCDO" style="color:#10085A;font-weight: bold;">Ocado - EQ : LSE(UK) : OCDO</option>
<option value="PSON" style="color:#10085A;font-weight: bold;">Pearson plc - EQ : LSE(UK) : PSON</option>
<option value="PNN" style="color:#10085A;font-weight: bold;">Pennon Group - EQ : LSE(UK) : PNN</option>
<option value="PSN" style="color:#10085A;font-weight: bold;">Persimmon plc - EQ : LSE(UK) : PSN</option>
<option value="PHNX" style="color:#10085A;font-weight: bold;">Phoenix Group - EQ : LSE(UK) : PHNX</option>
<option value="POLY" style="color:#10085A;font-weight: bold;">Polymetal International - EQ : LSE(UK) : POLY</option>
<option value="PRU" style="color:#10085A;font-weight: bold;">Prudential plc - EQ : LSE(UK) : PRU</option>
<option value="RB" style="color:#10085A;font-weight: bold;">Reckitt Benckiser - EQ : LSE(UK) : RB</option>
<option value="REL" style="color:#10085A;font-weight: bold;">RELX - EQ : LSE(UK) : REL</option>
<option value="RTO" style="color:#10085A;font-weight: bold;">Rentokil Initial - EQ : LSE(UK) : RTO</option>
<option value="RIO" style="color:#10085A;font-weight: bold;">Rio Tinto - EQ : LSE(UK) : RIO</option>
<option value="RMV" style="color:#10085A;font-weight: bold;">Rightmove - EQ : LSE(UK) : RMV</option>
<option value="RR" style="color:#10085A;font-weight: bold;">Rolls-Royce Holdings - EQ : LSE(UK) : RR</option>
<option value="RBS" style="color:#10085A;font-weight: bold;">Royal Bank of Scotland Group - EQ : LSE(UK) : RBS</option>
<option value="RDSA" style="color:#10085A;font-weight: bold;">Royal Dutch Shell - EQ : LSE(UK) : RDSA</option>
<option value="RSA" style="color:#10085A;font-weight: bold;">RSA Insurance Group - EQ : LSE(UK) : RSA</option>
<option value="SGE" style="color:#10085A;font-weight: bold;">Sage Group - EQ : LSE(UK) : SGE</option>
<option value="SBRY" style="color:#10085A;font-weight: bold;">Sainsbury's - EQ : LSE(UK) : SBRY</option>
<option value="SDR" style="color:#10085A;font-weight: bold;">Schroders - EQ : LSE(UK) : SDR</option>
<option value="SMT" style="color:#10085A;font-weight: bold;">Scottish Mortgage Investment Trust - EQ : LSE(UK) : SMT</option>
<option value="SGRO" style="color:#10085A;font-weight: bold;">Segro - EQ : LSE(UK) : SGRO</option>
<option value="SVT" style="color:#10085A;font-weight: bold;">Severn Trent - EQ : LSE(UK) : SVT</option>
<option value="SN" style="color:#10085A;font-weight: bold;">Smith & Nephew - EQ : LSE(UK) : SN</option>
<option value="SMDS" style="color:#10085A;font-weight: bold;">DS Smith - EQ : LSE(UK) : SMDS</option>
<option value="SMIN" style="color:#10085A;font-weight: bold;">Smiths Group - EQ : LSE(UK) : SMIN</option>
<option value="SKG" style="color:#10085A;font-weight: bold;">Smurfit Kappa - EQ : LSE(UK) : SKG</option>
<option value="SPX" style="color:#10085A;font-weight: bold;">Spirax-Sarco Engineering - EQ : LSE(UK) : SPX</option>
<option value="SSE" style="color:#10085A;font-weight: bold;">SSE plc - EQ : LSE(UK) : SSE</option>
<option value="STAN" style="color:#10085A;font-weight: bold;">Standard Chartered - EQ : LSE(UK) : STAN</option>
<option value="SLA" style="color:#10085A;font-weight: bold;">Standard Life Aberdeen - EQ : LSE(UK) : SLA</option>
<option value="STJ" style="color:#10085A;font-weight: bold;">St. James's Place plc - EQ : LSE(UK) : STJ</option>
<option value="TW" style="color:#10085A;font-weight: bold;">Taylor Wimpey - EQ : LSE(UK) : TW</option>
<option value="TSCO" style="color:#10085A;font-weight: bold;">Tesco - EQ : LSE(UK) : TSCO</option>
<option value="ULVR" style="color:#10085A;font-weight: bold;">Unilever - EQ : LSE(UK) : ULVR</option>
<option value="UU" style="color:#10085A;font-weight: bold;">United Utilities - EQ : LSE(UK) : UU</option>
<option value="VOD" style="color:#10085A;font-weight: bold;">Vodafone Group - EQ : LSE(UK) : VOD</option>
<option value="WTB" style="color:#10085A;font-weight: bold;">Whitbread - EQ : LSE(UK) : WTB</option>
<option value="WPP" style="color:#10085A;font-weight: bold;">WPP plc - EQ : LSE(UK) : WPP</option>
<option value="EZJ" style="color:#10085A;font-weight: bold;">EasyJet Airline Limited - EQ : LSE(UK) : EZJ</option>
    </select>
    
    <input type="submit" value="SEARCH BY SYMBOL">
           
    </form>
  </div>
  </div>


<!-- 

<div class="container">

  <div class="wrapper">

<div class="home-image" style="padding-bottom: 20px;padding-top: 0px;">
  
  <img class="image-expand" src="../../../assets/images/gettyimages-agileWork1.JPG">
  <button type="button" class="home-image-btn10" *ngIf="!authService.loggedIn()" (click)="gotoSignup()">GET 7 DAYS FREE</button>
  <button type="button" class="home-image-btn10" *ngIf="authService.loggedIn()" (click)="gotoCart()">Subscribe Now</button>
    
  <div class="large-text">AI Driven <br>Live Trading Forecasts <br>with Confidence Level<br><b>Global Equities.Indices.Forex<br>Cryptos.Commodities</b></div>

</div>
   
</div>

</div> -->



<!--div class="wrapper">

  <div class="home-image" style="padding-bottom: 20px;padding-top: 0px; width: 100%;">
  
  <img class="image-center" src="../../../assets/images/agileWork.jpg">
    <img class="image-center" src="../../../assets/images/2dnew-bg_image.JPG">
    
  </div>
  

</div-->
 <br>
         


 <div class="container">

 <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
   <b><h1>Live Market News Snippets</h1></b>
   </div>
  </div>

<br>
  

<div class="container content-center items-center justify-center">

  <div class="row ">
    <div *ngFor="let rssfeedNewsArticles of rssfeedNewsArticles" class="col-md-12">
      <div class="shadow-box">
        
      
        <div class="container content-center items-center justify-center card-body">
          <h3 class="container content-center items-center justify-center card-title" style="font-weight: bold;">{{rssfeedNewsArticles.title}}</h3>
          <h5 class="container content-center items-center justify-center card-text">{{rssfeedNewsArticles.content}}</h5>
          <span class="name" value="MMM d h:mm a">{{rssfeedNewsArticles.time | date:'MMM d h:mm a'}}(UK Time)</span>
<!--                
          <option value="MM/dd/yyyy">{{rssfeedNewsArticles.time | date:'MM/dd/yyyy'}}</option>
          <option value="MM/dd/yyyy">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy'}}]</option>
<option value="EEEE, MMMM d, yyyy">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy'}}]</option>
<option value="EEEE, MMMM d, yyyy h:mm a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy h:mm a'}}]</option>
<option value="EEEE, MMMM d, yyyy h:mm:ss a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy h:mm:ss a'}}]</option>
<option value="MM/dd/yyyy h:mm a">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy h:mm a'}}]</option>
<option value="MM/dd/yyyy h:mm:ss a">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy h:mm:ss a'}}]</option>
<option value="MMMM d">[{{rssfeedNewsArticles.time | date:'MMMM d'}}]</option>   
<option value="yyyy-MM-ddTHH:mm:ss">[{{rssfeedNewsArticles.time | date:'yyyy-MM-ddTHH:mm:ss'}}]</option>
<option value="h:mm a">[{{rssfeedNewsArticles.time | date:'h:mm a'}}]</option>
<option value="h:mm:ss a">[{{rssfeedNewsArticles.time | date:'h:mm:ss a'}}]</option>      
<option value="EEEE, MMMM d, yyyy hh:mm:ss a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy hh:mm:ss a'}}]</option>
<option value="MMMM yyyy">[{{rssfeedNewsArticles.time | date:'MMMM yyyy'}}]</option> 
         -->
        </div>
      </div>
    </div>
  </div>
</div>



<br><br>

<app-footer></app-footer>
