
<div class="home-image" style="padding-bottom: 20px;padding-top: 0px;">
  <!--img class="image-center" src="../../../assets/images/agileWork.jpg"-->
  <!--button type="button" class="home-image-btn10" *ngIf="!authService.loggedIn()">Sign Up for trial</button>
  <button type="button" class="home-image-btn10" *ngIf="authService.loggedIn()">Subscribe Now</button-->
    
  <div class="large-text">Live Trading Signals with Confidence Level<br><b>Global Equities.Indices<br>Forex.Cryptos.Commodities</b></div>

</div>
   




<!--div class="wrapper">

  <div class="home-image" style="padding-bottom: 20px;padding-top: 0px; width: 100%;">
  
  <img class="image-center" src="../../../assets/images/agileWork.jpg">
    <img class="image-center" src="../../../assets/images/2dnew-bg_image.JPG">
    
  </div>
  

</div-->
 <br><br>      
         


 <div style="text-align:center;color: #10085A;">
   <p><b><h1>Live Market News</h1></b></p>
   </div>
<br>
  
<div class="container">

  <div class="row ">
    <div *ngFor="let rssfeedNewsArticles of rssfeedNewsArticles" class="col-md-12">
      <div class="shadow-box">
        
      
        <div class="card-body">
          <h3 class="card-title">{{rssfeedNewsArticles.title}}</h3>
          <h5 class="card-text">{{rssfeedNewsArticles.content}}</h5>
          <span class="name" value="MMM d h:mm a">{{rssfeedNewsArticles.time | date:'MMM d h:mm a'}}(UK Time)</span>
<!--                
          <option value="MM/dd/yyyy">{{rssfeedNewsArticles.time | date:'MM/dd/yyyy'}}</option>
          <option value="MM/dd/yyyy">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy'}}]</option>
<option value="EEEE, MMMM d, yyyy">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy'}}]</option>
<option value="EEEE, MMMM d, yyyy h:mm a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy h:mm a'}}]</option>
<option value="EEEE, MMMM d, yyyy h:mm:ss a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy h:mm:ss a'}}]</option>
<option value="MM/dd/yyyy h:mm a">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy h:mm a'}}]</option>
<option value="MM/dd/yyyy h:mm:ss a">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy h:mm:ss a'}}]</option>
<option value="MMMM d">[{{rssfeedNewsArticles.time | date:'MMMM d'}}]</option>   
<option value="yyyy-MM-ddTHH:mm:ss">[{{rssfeedNewsArticles.time | date:'yyyy-MM-ddTHH:mm:ss'}}]</option>
<option value="h:mm a">[{{rssfeedNewsArticles.time | date:'h:mm a'}}]</option>
<option value="h:mm:ss a">[{{rssfeedNewsArticles.time | date:'h:mm:ss a'}}]</option>      
<option value="EEEE, MMMM d, yyyy hh:mm:ss a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy hh:mm:ss a'}}]</option>
<option value="MMMM yyyy">[{{rssfeedNewsArticles.time | date:'MMMM yyyy'}}]</option> 
         -->
        </div>
      </div>
    </div>
  </div>
</div>







<div class="footer" style="background-color: #10085A;">
  <p>Posted by: MarketWinks LLC</p>
  <p>Contact information: <a href="mailto:contact@marketwinks.com">
    contact@marketwinks.com</a>.</p>
    
    <a href="www.google.com">  
      YouTube
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    <a href="www.google.com">  
      FaceBook
      <!--img class="fb-ico" src="../../../assets/images/rsz_fb_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Instagram
      <!--img class="insta-ico" src="../../../assets/images/rsz_insta_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Linkedin
      <!--img class="linkedin-ico" src="../../../assets/images/rsz_linkedin_ico.jpg"-->
    </a>
    
    <br>
    <br>
    <a href="www.google.com">  
      Privacy Policy
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    </div>  


