<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<!-- 
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/> -->

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
  />

<br><br><br>

<div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("https://images.unsplash.com/photo-1583752028088-91e3e9880b46?ixlib=rb-1.2.1&auto=format&amp;fit=crop&amp;w=1267&amp;q=80");'>
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              AI Driven Live Trading Forecasts with Confidence Level.
            </h1><br>
            <h3 class="text-white" style="font-size: x-large;">
              Global Equities. Indices
              <br>Forex. Cryptos. Commodities
            </h3>
            <br><br>
            <button *ngIf="!authService.loggedIn()" (click)="gotoSignup()" class="text-black font-bold py-2 px-4 rounded" style="background-color: white;">
              Get 7 Days Free
            </button>
            <button *ngIf="authService.loggedIn()" (click)="gotoCart()" class="text-black font-bold py-2 px-4 rounded" style="background-color: white;">
              Renew Now
            </button>

            
            <!-- <p class="mt-4 text-lg text-gray-300">
              This is a simple example of a Landing Page you can build using
              Tailwind Starter Kit. It features multiple CSS components
              based on the Tailwindcss design system.
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
   

    <br>


<div class="container" *ngIf="authService.loggedIn()">

  <div class="wrapper">
    
  <form align=center #searchForm="ngForm" (ngSubmit)="searchForm.valid && onSubmit()">

    <!--input type="text" list="symbols" name="symbol" #symbol="ngModel" [(ngModel)]="model.symbol" placeholder="Type symbol to search" 
    required [ngClass]="{'invalid-textbox' :searchForm.submitted}">

    <datalist id="symbols">
      <option value="BRBY        Burberry:LSE">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist-->

    <select class="select2 form-control" 
    name="symbol" #symbol="ngModel" [(ngModel)]="model.symbol">
      <option value="BRBY" style="color:#10085A;font-weight: bold;">Burberry Private Limited - EQ : LSE(UK) : BRBY</option>
      <option value="EZJ" style="color:#10085A;font-weight: bold;">EasyJet Airline Limited - EQ : LSE(UK) : EZJ</option>
      <option value="RIL" style="color:#10085A;font-weight: bold;">Reliance Industries - EQ : NSE(IND) : RIL</option>
      <option value="RCOM" style="color:#10085A;font-weight: bold;">Reliance Communications - EQ : NSE(IND) : RCOM</option>
      
    </select>
    
    <input type="submit" value="SEARCH BY SYMBOL">
           
    </form>
  </div>
  </div>


<!-- 

<div class="container">

  <div class="wrapper">

<div class="home-image" style="padding-bottom: 20px;padding-top: 0px;">
  
  <img class="image-expand" src="../../../assets/images/gettyimages-agileWork1.JPG">
  <button type="button" class="home-image-btn10" *ngIf="!authService.loggedIn()" (click)="gotoSignup()">GET 7 DAYS FREE</button>
  <button type="button" class="home-image-btn10" *ngIf="authService.loggedIn()" (click)="gotoCart()">Subscribe Now</button>
    
  <div class="large-text">AI Driven <br>Live Trading Forecasts <br>with Confidence Level<br><b>Global Equities.Indices.Forex<br>Cryptos.Commodities</b></div>

</div>
   
</div>

</div> -->



<!--div class="wrapper">

  <div class="home-image" style="padding-bottom: 20px;padding-top: 0px; width: 100%;">
  
  <img class="image-center" src="../../../assets/images/agileWork.jpg">
    <img class="image-center" src="../../../assets/images/2dnew-bg_image.JPG">
    
  </div>
  

</div-->
 <br>
         


 <div class="container">

 <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
   <b><h1>Live Market News Snippets</h1></b>
   </div>
  </div>

<br>
  

<div class="container content-center items-center justify-center">

  <div class="row ">
    <div *ngFor="let rssfeedNewsArticles of rssfeedNewsArticles" class="col-md-12">
      <div class="shadow-box">
        
      
        <div class="card-body">
          <h3 class="card-title" style="font-weight: bold;">{{rssfeedNewsArticles.title}}</h3>
          <h5 class="card-text">{{rssfeedNewsArticles.content}}</h5>
          <span class="name" value="MMM d h:mm a">{{rssfeedNewsArticles.time | date:'MMM d h:mm a'}}(UK Time)</span>
<!--                
          <option value="MM/dd/yyyy">{{rssfeedNewsArticles.time | date:'MM/dd/yyyy'}}</option>
          <option value="MM/dd/yyyy">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy'}}]</option>
<option value="EEEE, MMMM d, yyyy">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy'}}]</option>
<option value="EEEE, MMMM d, yyyy h:mm a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy h:mm a'}}]</option>
<option value="EEEE, MMMM d, yyyy h:mm:ss a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy h:mm:ss a'}}]</option>
<option value="MM/dd/yyyy h:mm a">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy h:mm a'}}]</option>
<option value="MM/dd/yyyy h:mm:ss a">[{{rssfeedNewsArticles.time | date:'MM/dd/yyyy h:mm:ss a'}}]</option>
<option value="MMMM d">[{{rssfeedNewsArticles.time | date:'MMMM d'}}]</option>   
<option value="yyyy-MM-ddTHH:mm:ss">[{{rssfeedNewsArticles.time | date:'yyyy-MM-ddTHH:mm:ss'}}]</option>
<option value="h:mm a">[{{rssfeedNewsArticles.time | date:'h:mm a'}}]</option>
<option value="h:mm:ss a">[{{rssfeedNewsArticles.time | date:'h:mm:ss a'}}]</option>      
<option value="EEEE, MMMM d, yyyy hh:mm:ss a">[{{rssfeedNewsArticles.time | date:'EEEE, MMMM d, yyyy hh:mm:ss a'}}]</option>
<option value="MMMM yyyy">[{{rssfeedNewsArticles.time | date:'MMMM yyyy'}}]</option> 
         -->
        </div>
      </div>
    </div>
  </div>
</div>



<br><br>



<div class="footer" style="background-color: #10085A;">
  <p>Posted by: MarketWinks LLC</p>
  <p>Contact information: <a href="mailto:contact@marketwinks.com">
    contact@marketwinks.com</a>.</p>
    
    <a href="www.google.com">  
      YouTube
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    <a href="www.google.com">  
      FaceBook
      <!--img class="fb-ico" src="../../../assets/images/rsz_fb_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Instagram
      <!--img class="insta-ico" src="../../../assets/images/rsz_insta_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Linkedin
      <!--img class="linkedin-ico" src="../../../assets/images/rsz_linkedin_ico.jpg"-->
    </a>
    
    <br>
    <br>
    <a href="www.google.com">  
      Privacy Policy
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    </div>  


