<br>
<br>
<br>
<br>

<div class="wrapper">
  <div id="formContent">
    <h2 class="underlineHover"  routerLink="/monthlybuy"  routerLinkActive="active">Monthly Buy</h2>
    <h2 class="underlineHover"  routerLink="/monthlysell"  routerLinkActive="active">Monthly Sell</h2>

    
    <h2 class="underlineHover"  routerLink="/weeklybuy"  routerLinkActive="active">Weekly Buy</h2>
    <h2 class="underlineHover"  routerLink="/weeklysell"  routerLinkActive="active">Weekly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/dailybuy"  routerLinkActive="active">Daily Buy</h2>
    <h2 class="underlineHover"  routerLink="/dailysell"  routerLinkActive="active">Daily Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/hourlybuy"  routerLinkActive="active">Hourly Buy</h2>
    <h2 class="underlineHover"  routerLink="/hourlysell"  routerLinkActive="active">Hourly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/mins30buy"  routerLinkActive="active">30 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/mins30sell"  routerLinkActive="active">30 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/mins15buy"  routerLinkActive="active">15 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/mins15sell"  routerLinkActive="active">15 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/mins5buy"  routerLinkActive="active">5 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/mins5sell"  routerLinkActive="active">5 Mins Sell</h2>
    
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer" style="background-color: #10085A;">
  <p>Posted by: MarketWinks LLC</p>
  <p>Contact information: <a href="mailto:contact@marketwinks.com">
    contact@marketwinks.com</a>.</p>
    
    <a href="www.google.com">  
      YouTube
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    <a href="www.google.com">  
      FaceBook
      <!--img class="fb-ico" src="../../../assets/images/rsz_fb_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Instagram
      <!--img class="insta-ico" src="../../../assets/images/rsz_insta_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Linkedin
      <!--img class="linkedin-ico" src="../../../assets/images/rsz_linkedin_ico.jpg"-->
    </a>
    
    <br>
    <br>
    <a href="www.google.com">  
      Privacy Policy
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    </div>  
