<br>
<br>
<br>
<br>

<div class="container">
<h2 class="page-header">Contact Us</h2>
<form (submit)="onSubmit()">
  <div class="form-group">
    <label>Query Subject</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Urgency Level</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  
  <div class="form-group">
    <label>Query Details</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" >
  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" >
  </div>

  <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>


<div style="text-align:center">
  <a href="mailto:support@marketwinks.com">
    Email Us</a>
  </div>

  <div style="text-align:center">
    
      Call Us
    </div>

    <app-footer></app-footer>