<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container">

     
     <br>
     <br>
     <br>
     <br>

<div class="container">
<p></p>
</div>
 

  <div class="container">

    <p style="text-align: center;font-size: medium;">
  
      <b>Pay By Credit/Debit Card</b>
      <span><img src="../../../assets/images/credit_logo.png" width="150" height="50"></span>
  
    </p>
  
  </div>

  
      <table align="center">
        <thead>
        <th class="text-center">Subscription & Price<div style="font-size: xx-small;">(incl.VAT)</div></th>
      </thead> 
        
        <tbody>

          <tr>
            
            <td class="text-center">
              <strong>30 Days Subscription @ £36</strong>
              <br>
              <br>
              
<div class="w3-container">
              <div class="w3-show-inline-block">
 
              <div class="w3-bar">
              <button  class="w3-btn w3-green"(click)="addProduct30Days()">
                <b>+</b>
              </button>
             
              <button  class="w3-btn w3-red"(click)="removeProduct()">
                <b> -</b>
              </button>
            </div>
          </div></div>
          </td>
          </tr>

          <tr>
            
            <td class="text-center">
              <strong>60 Days Subscription @ £69</strong>
              <br>
              <br>
              
<div class="w3-container">
              <div class="w3-show-inline-block">
 
              <div class="w3-bar">
              <button  class="w3-btn w3-green"(click)="addProduct60Days()">
                <b>+</b>
              </button>
             
              <button  class="w3-btn w3-red"(click)="removeProduct()">
                <b> -</b>
              </button>
            </div>
          </div></div>
           
            </td>
          </tr>

          <tr>
            
            <td class="text-center">

              <strong>90 Days Subscription @ £97</strong>
              <br>
              <br>
              
<div class="w3-container">
              <div class="w3-show-inline-block">
 
              <div class="w3-bar">
              <button  class="w3-btn w3-green"(click)="addProduct90Days()">
                <b>+</b>
              </button>
             
              <button  class="w3-btn w3-red"(click)="removeProduct()">
                <b> -</b>
              </button>
            </div>
          </div></div>
            </td>
            
          </tr>

          <tr>
            <td>
              <div class="text-center">
            
              <h3>Current Selection: <b>{{currentselection}}</b></h3>
            </div>
            
            </td>
            </tr>


          <tr>
            <td>
              <div class="text-center">
            
              <h3>Total: <b>£{{total}}</b></h3>
            </div>
           
            </td>
            
          </tr>
          <tr>
            <td>
              <div class="text-center">
            
              <button  class="btn btn-danger" *ngIf="authService.loggedIn()" [routerLink]="['/']">
                <span class="glyphicon glyphicon-shopping-cart"></span> Back
              </button>
              
              <button type="button" class="btn btn-success" *ngIf="authService.checkTotalNotZero()"(click)="checkout()">
              
                Checkout
                <span class="glyphicon glyphicon-play"></span>
              </button>
              </div>
            </td>
           
          </tr>
        </tbody>
      </table>
   
</div>
  
  