<br>
<br>
<br>
<br>

<div class="wrapper">
  <marquee style="font-size: 20px;"><b>UK Equities</b></marquee>

  <div id="formContent">
    <h2 class="underlineHover"  routerLink="/ukeqmonthlybuy"  routerLinkActive="active">Monthly Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmonthlysell"  routerLinkActive="active">Monthly Sell</h2>

    
    <h2 class="underlineHover"  routerLink="/ukeqweeklybuy"  routerLinkActive="active">Weekly Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqweeklysell"  routerLinkActive="active">Weekly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqdailybuy"  routerLinkActive="active">Daily Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqdailysell"  routerLinkActive="active">Daily Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqhourlybuy"  routerLinkActive="active">Hourly Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqhourlysell"  routerLinkActive="active">Hourly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqmins30buy"  routerLinkActive="active">30 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmins30sell"  routerLinkActive="active">30 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqmins15buy"  routerLinkActive="active">15 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmins15sell"  routerLinkActive="active">15 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqmins5buy"  routerLinkActive="active">5 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmins5sell"  routerLinkActive="active">5 Mins Sell</h2>
    
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer" style="background-color: #10085A;">
  <p>Posted by: MarketWinks LLC</p>
  <p>Contact information: <a href="mailto:contact@marketwinks.com">
    contact@marketwinks.com</a>.</p>
    
    <a href="www.google.com">  
      YouTube
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    <a href="www.google.com">  
      FaceBook
      <!--img class="fb-ico" src="../../../assets/images/rsz_fb_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Instagram
      <!--img class="insta-ico" src="../../../assets/images/rsz_insta_ico.jpg"-->
    </a>
    
    <br>
    
    <a href="www.google.com">  
      Linkedin
      <!--img class="linkedin-ico" src="../../../assets/images/rsz_linkedin_ico.jpg"-->
    </a>
    
    <br>
    <br>
    <a href="www.google.com">  
      Privacy Policy
      <!--img class="ytube-ico" src="../../../assets/images/rsz_ytube_ico.jpg"-->
    </a>
    
    <br>
    </div>  
