<br>
<br>
<br>
<br>

<div class="wrapper">
  <marquee style="font-size: 20px;"><b>UK Equities</b></marquee>
  <marquee *ngIf="authSerivce.isUserCategoryTrial()" style="font-size: 10px;"><b>You are currently using TRIAL Version with limited features. Please 'Subscribe' to access full features.</b></marquee>

  <div id="formContent">
    <h2 class="underlineHover"  routerLink="/ukeqmonthlybuy"  routerLinkActive="active">Monthly Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmonthlysell"  routerLinkActive="active">Monthly Sell</h2>

    
    <h2 class="underlineHover"  routerLink="/ukeqweeklybuy"  routerLinkActive="active">Weekly Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqweeklysell"  routerLinkActive="active">Weekly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqdailybuy"  routerLinkActive="active">Daily Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqdailysell"  routerLinkActive="active">Daily Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqhourlybuy"  routerLinkActive="active">Hourly Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqhourlysell"  routerLinkActive="active">Hourly Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqmins30buy"  routerLinkActive="active">30 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmins30sell"  routerLinkActive="active">30 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqmins15buy"  routerLinkActive="active">15 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmins15sell"  routerLinkActive="active">15 Mins Sell</h2>
    
    <h2 class="underlineHover"  routerLink="/ukeqmins5buy"  routerLinkActive="active">5 Mins Buy</h2>
    <h2 class="underlineHover"  routerLink="/ukeqmins5sell"  routerLinkActive="active">5 Mins Sell</h2>
    
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>