<div class="container">
  <br>
   
  
  <div class="container">
  
            <div class="row ">
              <div *ngFor="let mins5sellDetails of mins5sellDetails" class="col-md-12">
                <div class="shadow-box">
                  
                
                  <div class="card-body">
                    <h5 class="card-title">{{mins5sellDetails.company}}</h5>
                    <h5 class="card-text">{{mins5sellDetails.confidence_level}}</h5>
                    <p class="card-text">{{mins5sellDetails.lastSellEvent}}</p>
                    
                 
                  </div>
                </div>
              </div>
            </div>
  
    </div>
  </div>