
<div class="container">
  <br>
  <br>
  <br>
  <br>



<div class="container">

  
  

          



<div id="formContent">
  <h2 class="underlineHover"  routerLink="/watchlistmonthlybuy"  routerLinkActive="active">Monthly Buy</h2>
  <h2 class="underlineHover"  routerLink="/watchlistmonthlysell"  routerLinkActive="active">Monthly Sell</h2>

  
  <h2 class="underlineHover"  routerLink="/watchlistweeklybuy"  routerLinkActive="active">Weekly Buy</h2>
  <h2 class="underlineHover"  routerLink="/watchlistweeklysell"  routerLinkActive="active">Weekly Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/watchlistdailybuy"  routerLinkActive="active">Daily Buy</h2>
  <h2 class="underlineHover"  routerLink="/watchlistdailysell"  routerLinkActive="active">Daily Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/watchlisthourlybuy"  routerLinkActive="active">Hourly Buy</h2>
  <h2 class="underlineHover"  routerLink="/watchlisthourlysell"  routerLinkActive="active">Hourly Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/watchlist30minsbuy"  routerLinkActive="active">30 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/watchlist30minssell"  routerLinkActive="active">30 Mins Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/watchlist15minsbuy"  routerLinkActive="active">15 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/watchlist15minssell"  routerLinkActive="active">15 Mins Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/watchlist5minsbuy"  routerLinkActive="active">5 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/watchlist5minssell"  routerLinkActive="active">5 Mins Sell</h2>
  
  <router-outlet></router-outlet>
</div>







</div>




</div>
<br>
<app-footer></app-footer>