<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer" style="background-color: #10085A;">
  <br>

  <div class="o-col-xs-12 o-col-md-2 u-textCentered u-textLeft@md" style="margin-left: 2pc;">
    <h3 class="h4" style="color: white;">Our App</h3>
    <p>
      <!-- <a href="https://itunes.apple.com/app/id393730279" title="iPhone app"
        class="u-bottomMediumMargin u-rightMediumMargin u-noRightMargin@md u-inlineBlock">
        <img src="https://d1xkhapf8f3lxw.cloudfront.net/cdn/3.0.0.17956/responsivemasterpage/img/app-store-badge.png"
          class="c-footerMain__appStoreBadge" alt="Marketwinks">
      </a> -->
      <a href="https://play.google.com/store/apps/details?id=com.commonagency.moonpig.uk" title="Android app"
        class="u-bottomMediumMargin u-inlineBlock">
        <img src="https://d1xkhapf8f3lxw.cloudfront.net/cdn/3.0.0.17956/responsivemasterpage/img/google-play-badge.png"
          class="c-footerMain__appStoreBadge" alt="Marketwinks">
      </a>
    </p>

  </div>
  <br>

  <div class="o-col-xs-12 o-col-md-2 u-textCentered u-textLeft@md" style="margin-left: 2pc;">
    <h3 class="h4" style="color: white;">Helpful Links</h3>
    <p style="color: white;">



      <a href="http://www.google.com/" title="FAQs" class="u-bottomMediumMargin u-inlineBlock">FAQs</a>

      <br>

      <a href="http://www.google.com/" title="Resources & Blog" class="u-bottomMediumMargin u-inlineBlock">Resources &
        Blog</a>
      <br>

      <a href="http://www.google.com/" title="Terms & Conditions" class="u-bottomMediumMargin u-inlineBlock">Terms &
        Conditions</a>
      <br>

      <a href="http://www.google.com/" title="Privacy Notice" class="u-bottomMediumMargin u-inlineBlock">Privacy
        Notice</a>


    </p>

  </div>


  <br>


  <div style="color: white; margin-left: 2pc;">

    <h3 class="h4">Stay Connected</h3>

    <p class="">

      <a href="" target="_blank" title="Facebook">
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      </a>
      
      
      <a href="" target="_blank" title="Twitter">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      </a>

      
      <a href="" target="_blank" title="Instagram">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      </a>


      <a href="" target="_blank" title="Youtube">
        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      </a>

      <a href="" target="_blank" title="Linkedin">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      </a>
    
    </p>


  </div>

  <br>

  <p style="color: white; margin-left: 2pc;" align="center">
    Write to: <a href="mailto:contact@marketwinks.com">contact@marketwinks.com</a><br>©Marketwinks Limited
    2020</p>

</div>