<!--h2 class="page-header">Register</h2-->
<div class="wrapper">
  <br>
  <br>
  <br>
  <br>
  <div id="formContent">
<!-- 
  <form class="wrapper" (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  
  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" >
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form> -->

<br>

<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onRegisterSubmit()">
  <input type="text" #fullName="ngModel" [(ngModel)]="model.name" name="fullName" placeholder="Full Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
  <div *ngIf="signUpForm.submitted && !fullName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="model.email" name="email" placeholder="Email Address"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label class="validation-message">This field is required and atleast 4 characters.</label>
    </div>

  <input type="text" #recoverywordpetname="ngModel" [(ngModel)]="model.recoverywordpetname" name="recoverywordpetname" placeholder="What's the name of your pet?"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !recoverywordpetname.valid }">
  <div *ngIf="signUpForm.submitted && recoverywordpetname.errors">
    <label *ngIf="recoverywordpetname.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="recoverywordpetname.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>

  <br>
<input type="checkbox" #agreeTC="ngModel" [(ngModel)]="model.agreeTC" name="agreeTC" 
  required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !agreeTC.true }">
  <label>&nbsp;&nbsp;&nbsp;&nbsp;I agree to the Terms and Conditions <a style="color: black" (click)="gotoTC()"><b> - Read here</b></a></label><br>
  <div *ngIf="signUpForm.submitted && agreeTC.errors">
    <label *ngIf="agreeTC.errors.required" class="validation-message">Please agree to the Terms and Conditions</label>
  </div>
  <br>

  
  
  <input type="submit" value="Sign Up">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>


</div>





</div>

