<div class="container">
  <br>
   
  
  <div class="container">
  
            <div class="row ">
              <div *ngFor="let dailybuyDetails of dailybuyDetails" class="col-md-12">
                <div class="shadow-box">
                  
                
                  <div class="card-body">
                    
                    <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{dailybuyDetails.indicator}}</div>
                    
                    <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(dailybuyDetails.lasttradedprice).toFixed(2)}} GBX</div>
                    
                    <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

                    <h5 class="card-title" style="font-weight: bold;">{{dailybuyDetails.company}}</h5>

                    <h5 class="card-title">

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->

                      <circle-progress
      [percent]="dailybuyDetails.confidence_level"
      [radius]="30"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#00FF22'"
      [innerStrokeColor]="'#e2e2e2'"
      [animation]="true"
      [animationDuration]="300"
      [space]="5"
      [showSubtitle]= "false"
      [showUnits]= "true"
      [unitsFontSize]= "10"
      [titleFontSize]= "15"
      [clockwise]= "true">
  </circle-progress>
  </h5>

                    <p class="card-text">{{dailybuyDetails.lastBuyEvent}} GMT</p>
                    <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{dailybuyDetails.lastBuyPrice}} GBX</b></p>
                    
                    <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
                    <div class="like-content" align="left">
  
                      <button class="btn-secondary like-review" align="left" onclick="">
                        <i class="fa fa-heart" aria-hidden="true"></i> 25
                      </button>

                    </div>

        
  
                 
                  </div>
                </div>
              </div>
            </div>
  
    </div>
  </div>