<div class="container">
  <br>
   
  
  <div class="container">
  
            <div class="row ">
              <div *ngFor="let mins15sellDetails of mins15sellDetails" class="col-md-12">
                <div class="shadow-box">
                  
                
                  <div class="card-body">
                    <h5 class="card-title">{{mins15sellDetails.company}}</h5>
                    <h5 class="card-text">{{mins15sellDetails.confidence_level}}</h5>
                    <p class="card-text">{{mins15sellDetails.lastSellEvent}}</p>
                    
                 
                  </div>
                </div>
              </div>
            </div>
  
    </div>
  </div>