<div class="container">
  <br>
  <br>
  <br>
  <br>



<div class="container">
  <br>
   
  
  <div class="container">
  
            <div class="row ">
                <div class="shadow-box">
                  
                
                  <div class="card-body">

                    
                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.company}}</h5>


                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.confidence_level}}</h5>

                    
                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.expiryprice}}</h5>

  
                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.indicator}}</h5>

                    
                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.lastBuyEvent}}</h5>

                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.lastBuyPrice}}</h5>

                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.lasttradedprice}}</h5>

                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.stoplosshighrisk}}</h5>
                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.stoplosslowrisk}}</h5>
                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.targethighrisk}}</h5>
                    <h5 class="card-title" style="font-weight: bold;">{{signalDetails.targetlowrisk}}</h5>


          
                  </div>
                </div>
            </div>
  
    </div>
  </div>

</div>