
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



<section class="pb-20 -mt-24">
  <div class="mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
        >
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
            >
            <button style="font-size:24px; font-weight: bold;">+</button>
            </div>
            <h6 class="text-xl font-semibold">{{signalDetails.company}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Symbol
            </p><br>

          
           
            <h6 class="text-xl">{{forecast}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Forecast
            </p><br>
           
            <h6 class="text-xl">{{exchange}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Exchange
            </p><br>
           
            <h6 class="text-xl">{{timeframe}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Charting Timeframe
            </p><br>
           
           
            <h6 class="text-xl">{{signalDetails.confidence_level}}%</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Confidence Level*
            </p><br>
            
            <h6 class="text-xl">{{tradeterm}}</h6>
            
            <p class="mt-2 mb-4 text-gray-600">
              Suitability
            </p>

          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-4 text-center">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
        >
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
            >
          <div style="color: black; font-weight: bold;">{{signalDetails.indicator}}</div>
          
          </div>

              <h6 class="text-xl font-semibold">{{signalDetails.company}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Symbol
            </p><br>
           
            <h6 class="text-xl">{{signalDetails.lastBuyEvent}} UTC</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Time of Forecast
            </p><br>
           
            <h6 class="text-xl">Market Price < {{signalDetails.lastBuyPrice}} {{currency}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Entry Criteria*
            </p><br>
           
            
            <h6 class="text-xl">{{signalDetails.expirytime}} UTC</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Time of Expiry
            </p><br>

            <h6 class="text-xl">{{signalDetails.expiryprice}} {{currency}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Expiry Price*
            </p><br>
           
           
            <h6 class="text-xl">0%</h6>
            <p class="mt-2 mb-4 text-gray-600">
              MTM P/L*
            </p><br>
            



          </div>
        </div>
      </div>
      <div class="pt-6 w-full md:w-4/12 px-4 text-center">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
        >
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 rounded-full bg-green-400"
            >

          <button style="font-size:24px" (click)="addmorelikes()">
            <ng-container *ngIf="show">

            <i class="fa fa fa-thumbs-up"></i>
          </ng-container>

          <ng-container *ngIf="!show">

            <i class="fa fa fa-thumbs-o-up"></i>
          </ng-container>
          
          </button>
          
        </div> 


            <h6 class="text-xl font-semibold">{{signalDetails.company}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Symbol
            </p><br>
           
            <h6 class="text-xl">{{signalDetails.lasttradedprice}} {{currency}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Last Traded Price*
            </p><br>

            
            <h6 class="text-xl">{{signalDetails.targetlowrisk}} {{currency}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Target Price - Low Risk*
            </p><br>
            
           
            <h6 class="text-xl">{{signalDetails.stoplosslowrisk}} {{currency}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              StopLoss Price - Low Risk*
            </p><br>
           
            <h6 class="text-xl">{{signalDetails.targethighrisk}} {{currency}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              Target Price - High Risk*
            </p><br>
           
           
            <h6 class="text-xl">{{signalDetails.stoplosshighrisk}} {{currency}}</h6>
            <p class="mt-2 mb-4 text-gray-600">
              StopLoss Price - High Risk*
            </p><br>
           


          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

<br>
<app-footer></app-footer>