

<!--nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-md navbar-dark fixed-top">


  <!--a class="navbar-brand" href="#">Notation.</a-->
  <button type="button" class="navbar-toggler collapsed" (click)="iscollapsed=!iscollapsed">
    <span class="navbar-toggler-icon"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div id="navbar" class=" navbar-collapse collapse" [collapse]="iscollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/']">
          <b><i><span style="font-size: 30px;font-style: bold;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            MarketWinks</span>
          <!--img src="../../../assets/images/rsz_1broadwise.jpg"--></i></b>
          <span></span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="authSerivce.loggedIn() && authSerivce.userRole()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/addproduct']">Add Product </a>
      </li>

      <!--li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/aboutus']">ABOUT US</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/ourframework']">FRAMEWORK</a>
      </li-->
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contactus']">Get in touch</a>
      </li>
      <!--li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/support']">SUPPORT</a>
      </li-->

      <li class="nav-item" *ngIf="authSerivce.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">
        <div class="dropdown"><a>Live Signals<i class="fa fa-caret-down"></i></a>
          <div class="dropdown-content">
            <a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/ukeqdailybuy']">UK Equities & Indices</a>
            <a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/useqdailybuy']">US Equities & Indices</a>
            <a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/ukeqmonthlybuy']">Forex</a>
            <a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/useqmonthlybuy']">Cryptos</a>
            <a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/ukeqweeklybuy']">Commodities</a>
            
          </div>
        </div>
      </a>
      </li>
      <li class="nav-item" *ngIf="authSerivce.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item" *ngIf="authSerivce.loggedIn() && !authSerivce.userRole()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/cart']">Subscribe</a>
      </li>
      <li class="nav-item" *ngIf="!authSerivce.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/login']"><b>Sign In</b></a>
      </li>
      <li class="nav-item" *ngIf="!authSerivce.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/register']"><b>Sign Up</b></a>
      </li>
      <li class="nav-item" *ngIf="authSerivce.loggedIn()">
        <a class="nav-link" (click)="onLogoutClick()" href="#">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>