
<div class="container">
  <br>
  <br>
  <br>
  <br>



<div class="container">

  
  
<div class="container">
  
  <div class="row ">
      <div class="shadow-box">
        
      
        <div class="card-body">








          <div>{{symbol}}</div>

  
            <div>{{symbolDetails.exchange}}</div>




            <br><br>

          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_24050" style="height: 100%;"></div>
  
</div>
<!-- TradingView Widget END -->




            
            <br><br>
           
            <div [innerHtml]="symbolDetails.profile"></div>
            
            <br><br>
         
            <div>fundamentals,chart,sentiment analysis, news, signals</div>



            <div>TEST</div>
            <div>{{allsignalsfor5minsbuy}}</div>
          
            <div>TEST</div>
            <div>{{allsignalsfor15minsbuy}}</div>
            <div>similarly for all signal times</div>
          

        </div>

      </div>

    </div>

  </div>


          

</div>




</div>
<br>
<app-footer></app-footer>