
<div class="container">
  <br>
  <br>
  <br>
  <br>



<div class="container">

  
  
<div class="container">
  
  <div class="row ">
      <div class="shadow-box">
        
      
          <div class="card-title">





<br>

          <div style="font-weight: bolder; text-align: center;font-size: x-large; color: #10085A;">{{symbolDetails.name}}
        </div>
        <br>
          <div style="font-weight: bold; text-align: center;font-size: large; color: #10085A;">{{symbol}}</div>

            <div style="font-weight: bold; text-align: center;font-size: large; color: #10085A;">{{symbolDetails.exchange}}</div>



<br>

          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_24050" style="height: 100%;"></div>
  
</div>
<!-- TradingView Widget END -->




            
            <br><br>
           
            <div [innerHtml]="symbolDetails.profile"></div>
            
            <br><br>
         
            



        </div>
        <div>fundamentals,chart,sentiment analysis, news, signals</div>

      </div>

    </div>

  </div>


          



<div id="formContent">
  <h2 class="underlineHover"  routerLink="/infopagemonthlybuy"  routerLinkActive="active">Monthly Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagemonthlysell"  routerLinkActive="active">Monthly Sell</h2>

  
  <h2 class="underlineHover"  routerLink="/infopageweeklybuy"  routerLinkActive="active">Weekly Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopageweeklysell"  routerLinkActive="active">Weekly Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopagedailybuy"  routerLinkActive="active">Daily Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagedailysell"  routerLinkActive="active">Daily Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopagehourlybuy"  routerLinkActive="active">Hourly Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagehourlysell"  routerLinkActive="active">Hourly Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopage30minsbuy"  routerLinkActive="active">30 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopage30minssell"  routerLinkActive="active">30 Mins Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopage15minsbuy"  routerLinkActive="active">15 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopage15minssell"  routerLinkActive="active">15 Mins Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopage5minsbuy"  routerLinkActive="active">5 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopage5minssell"  routerLinkActive="active">5 Mins Sell</h2>
  
  <router-outlet></router-outlet>
</div>







</div>




</div>
<br>
<app-footer></app-footer>