
<div class="container">
  <br>
  <br>
  <br>
  <br>



<div class="container">

  
  
<div class="container">
  
  <div class="row ">
      <div class="shadow-box">
        
      
        <div class="card-body">








          <div>{{symbol}}</div>

  
            <div>{{symbolDetails.exchange}}</div>




            <br><br>

          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_24050" style="height: 100%;"></div>
  
</div>
<!-- TradingView Widget END -->




            
            <br><br>
           
            <div [innerHtml]="symbolDetails.profile"></div>
            
            <br><br>
         
            <div>fundamentals,chart,sentiment analysis, news, signals</div>




        </div>

      </div>

    </div>

  </div>


          



  <br>
<!--    
  <div class="container">
 
   <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
     <b><h1>5 Min Buys</h1></b>
     </div>
    </div>
  
  <br> -->
<!--     
  
  <div class="container">
  
    <div class="row ">
      <div *ngFor="let allsignalsfor5minsbuy of allsignalsfor5minsbuy" class="col-md-12">
        <div class="shadow-box">
          
        
 
         <div class="card-body">
                     
           <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfor5minsbuy.indicator}}</div>
           
           <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfor5minsbuy.lasttradedprice)}} ??</div>
           
           <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>
 
           <h5 class="card-title" style="font-weight: bold;">{{allsignalsfor5minsbuy.company}}</h5>
 
           <h5 class="card-title">
  -->
 <!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
 -->
 
             <!-- <circle-progress
 [percent]="allsignalsfor5minsbuy.confidence_level"
 [radius]="30"
 [outerStrokeWidth]="8"
 [innerStrokeWidth]="2"
 [outerStrokeColor]="'#00FF22'"
 [innerStrokeColor]="'#e2e2e2'"
 [animation]="true"
 [animationDuration]="300"
 [space]="5"
 [showSubtitle]= "false"
 [showUnits]= "true"
 [unitsFontSize]= "10"
 [titleFontSize]= "15"
 [clockwise]= "true">
 </circle-progress>
 </h5>
 
           <p class="card-text">{{allsignalsfor5minsbuy.lastBuyEvent}} GMT</p>
           <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{allsignalsfor5minsbuy.lastBuyPrice}} ??</b></p>
           
           <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
           <div class="like-content" align="left">
 
             <button class="btn-secondary like-review" align="left" onclick="">
               <i class="fa fa-heart" aria-hidden="true"></i> 25
             </button>
 
           </div>
 
 
 
        
         </div>
 
 
        </div>
      </div>
    </div>
  </div>
 
 <br>
   
 <div class="container">

  <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
    <b><h1>15 Min Buys</h1></b>
    </div>
   </div>
 
 <br>
   
 
 <div class="container">
 
   <div class="row ">
     <div *ngFor="let allsignalsfor15minsbuy of allsignalsfor15minsbuy" class="col-md-12">
       <div class="shadow-box">
         
       

        <div class="card-body">
                    
          <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfor15minsbuy.indicator}}</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfor15minsbuy.lasttradedprice)}} ??</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

          <h5 class="card-title" style="font-weight: bold;">{{allsignalsfor15minsbuy.company}}</h5>

          <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
            <circle-progress
[percent]="allsignalsfor15minsbuy.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#00FF22'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

          <p class="card-text">{{allsignalsfor15minsbuy.lastBuyEvent}} GMT</p>
          <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{allsignalsfor15minsbuy.lastBuyPrice}} ??</b></p>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
          <div class="like-content" align="left">

            <button class="btn-secondary like-review" align="left" onclick="">
              <i class="fa fa-heart" aria-hidden="true"></i> 25
            </button>

          </div>



       
        </div>


       </div>
     </div>
   </div>
 </div>




 <br>
   
 <div class="container">

  <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
    <b><h1>30 Min Buys</h1></b>
    </div>
   </div>
 
 <br>
   
 
 <div class="container">
 
   <div class="row ">
     <div *ngFor="let allsignalsfor30minsbuy of allsignalsfor30minsbuy" class="col-md-12">
       <div class="shadow-box">
         
       

        <div class="card-body">
                    
          <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfor30minsbuy.indicator}}</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfor30minsbuy.lasttradedprice)}} ??</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

          <h5 class="card-title" style="font-weight: bold;">{{allsignalsfor30minsbuy.company}}</h5>

          <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
            <circle-progress
[percent]="allsignalsfor30minsbuy.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#00FF22'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

          <p class="card-text">{{allsignalsfor30minsbuy.lastBuyEvent}} GMT</p>
          <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{allsignalsfor30minsbuy.lastBuyPrice}} ??</b></p>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
          <div class="like-content" align="left">

            <button class="btn-secondary like-review" align="left" onclick="">
              <i class="fa fa-heart" aria-hidden="true"></i> 25
            </button>

          </div>



       
        </div>


       </div>
     </div>
   </div>
 </div>

 

 <br>
   
 <div class="container">

  <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
    <b><h1>Hourly Buys</h1></b>
    </div>
   </div>
 
 <br>
   
 
 <div class="container">
 
   <div class="row ">
     <div *ngFor="let allsignalsforhourlybuy of allsignalsforhourlybuy" class="col-md-12">
       <div class="shadow-box">
         
       

        <div class="card-body">
                    
          <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsforhourlybuy.indicator}}</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsforhourlybuy.lasttradedprice)}} ??</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

          <h5 class="card-title" style="font-weight: bold;">{{allsignalsforhourlybuy.company}}</h5>

          <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
            <circle-progress
[percent]="allsignalsforhourlybuy.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#00FF22'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

          <p class="card-text">{{allsignalsforhourlybuy.lastBuyEvent}} GMT</p>
          <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{allsignalsforhourlybuy.lastBuyPrice}} ??</b></p>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
          <div class="like-content" align="left">

            <button class="btn-secondary like-review" align="left" onclick="">
              <i class="fa fa-heart" aria-hidden="true"></i> 25
            </button>

          </div>



       
        </div>


       </div>
     </div>
   </div>
 </div>

 

 <br>
   
 <div class="container">

  <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
    <b><h1>Daily Buys</h1></b>
    </div>
   </div>
 
 <br>
   
 
 <div class="container">
 
   <div class="row ">
     <div *ngFor="let allsignalsfordailybuy of allsignalsfordailybuy" class="col-md-12">
       <div class="shadow-box">
         
       

        <div class="card-body">
                    
          <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfordailybuy.indicator}}</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfordailybuy.lasttradedprice)}} ??</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

          <h5 class="card-title" style="font-weight: bold;">{{allsignalsfordailybuy.company}}</h5>

          <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
            <circle-progress
[percent]="allsignalsfordailybuy.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#00FF22'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

          <p class="card-text">{{allsignalsfordailybuy.lastBuyEvent}} GMT</p>
          <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{allsignalsfordailybuy.lastBuyPrice}} ??</b></p>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
          <div class="like-content" align="left">

            <button class="btn-secondary like-review" align="left" onclick="">
              <i class="fa fa-heart" aria-hidden="true"></i> 25
            </button>

          </div>



       
        </div>


       </div>
     </div>
   </div>
 </div>

 

 <br>
   
 <div class="container">

  <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
    <b><h1>Weekly Buys</h1></b>
    </div>
   </div>
 
 <br>
   
 
 <div class="container">
 
   <div class="row ">
     <div *ngFor="let allsignalsforweeklybuy of allsignalsforweeklybuy" class="col-md-12">
       <div class="shadow-box">
         
       

        <div class="card-body">
                    
          <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsforweeklybuy.indicator}}</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsforweeklybuy.lasttradedprice)}} ??</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

          <h5 class="card-title" style="font-weight: bold;">{{allsignalsforweeklybuy.company}}</h5>

          <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
            <circle-progress
[percent]="allsignalsforweeklybuy.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#00FF22'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

          <p class="card-text">{{allsignalsforweeklybuy.lastBuyEvent}} GMT</p>
          <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{allsignalsforweeklybuy.lastBuyPrice}} ??</b></p>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
          <div class="like-content" align="left">

            <button class="btn-secondary like-review" align="left" onclick="">
              <i class="fa fa-heart" aria-hidden="true"></i> 25
            </button>

          </div>



       
        </div>


       </div>
     </div>
   </div>
 </div>

 

 <br>
   
 <div class="container">

  <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
    <b><h1>Monthly Buys</h1></b>
    </div>
   </div>
 
 <br>
   
 
 <div class="container">
 
   <div class="row ">
     <div *ngFor="let allsignalsformonthlybuy of allsignalsformonthlybuy" class="col-md-12">
       <div class="shadow-box">
         
       

        <div class="card-body">
                    
          <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsformonthlybuy.indicator}}</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsformonthlybuy.lasttradedprice)}} ??</div>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

          <h5 class="card-title" style="font-weight: bold;">{{allsignalsformonthlybuy.company}}</h5>

          <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
            <circle-progress
[percent]="allsignalsformonthlybuy.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#00FF22'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

          <p class="card-text">{{allsignalsformonthlybuy.lastBuyEvent}} GMT</p>
          <p class="card-text">Entry Criteria: <b>BUY when Market Price <= {{allsignalsformonthlybuy.lastBuyPrice}} ??</b></p>
          
          <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
          <div class="like-content" align="left">

            <button class="btn-secondary like-review" align="left" onclick="">
              <i class="fa fa-heart" aria-hidden="true"></i> 25
            </button>

          </div>



       
        </div>


       </div>
     </div>
   </div>
 </div> -->


<!------------------------------->

<!-- 
<br>
   
<div class="container">

 <div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
   <b><h1>5 Min Sells</h1></b>
   </div>
  </div>

<br>
  

<div class="container">

  <div class="row ">
    <div *ngFor="let allsignalsfor5minssell of allsignalsfor5minssell" class="col-md-12">
      <div class="shadow-box">
        
      

       <div class="card-body">
                   
         <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfor5minssell.indicator}}</div>
         
         <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfor5minssell.lasttradedprice)}} ??</div>
         
         <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

         <h5 class="card-title" style="font-weight: bold;">{{allsignalsfor5minssell.company}}</h5>

         <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
           <circle-progress
[percent]="allsignalsfor5minssell.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'##ff0000'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

         <p class="card-text">{{allsignalsfor5minssell.lastSellEvent}} GMT</p>
         <p class="card-text">Entry Criteria: <b>SELL when Market Price >= {{allsignalsfor5minssell.lastSellPrice}} ??</b></p>
         
         <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
         <div class="like-content" align="left">

           <button class="btn-secondary like-review" align="left" onclick="">
             <i class="fa fa-heart" aria-hidden="true"></i> 25
           </button>

         </div>



      
       </div>


      </div>
    </div>
  </div>
</div>

<br>
 
<div class="container">

<div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
  <b><h1>15 Min Sells</h1></b>
  </div>
 </div>

<br>
 

<div class="container">

 <div class="row ">
   <div *ngFor="let allsignalsfor15minssell of allsignalsfor15minssell" class="col-md-12">
     <div class="shadow-box">
       
     

      <div class="card-body">
                  
        <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfor15minssell.indicator}}</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfor15minssell.lasttradedprice)}} ??</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

        <h5 class="card-title" style="font-weight: bold;">{{allsignalsfor15minssell.company}}</h5>

        <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
          <circle-progress
[percent]="allsignalsfor15minssell.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'##ff0000'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

        <p class="card-text">{{allsignalsfor15minssell.lastSellEvent}} GMT</p>
        <p class="card-text">Entry Criteria: <b>SELL when Market Price >= {{allsignalsfor15minssell.lastSellPrice}} ??</b></p>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
        <div class="like-content" align="left">

          <button class="btn-secondary like-review" align="left" onclick="">
            <i class="fa fa-heart" aria-hidden="true"></i> 25
          </button>

        </div>



     
      </div>


     </div>
   </div>
 </div>
</div>




<br>
 
<div class="container">

<div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
  <b><h1>30 Min Sells</h1></b>
  </div>
 </div>

<br>
 

<div class="container">

 <div class="row ">
   <div *ngFor="let allsignalsfor30minssell of allsignalsfor30minssell" class="col-md-12">
     <div class="shadow-box">
       
     

      <div class="card-body">
                  
        <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfor30minssell.indicator}}</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfor30minssell.lasttradedprice)}} ??</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

        <h5 class="card-title" style="font-weight: bold;">{{allsignalsfor30minssell.company}}</h5>

        <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
          <circle-progress
[percent]="allsignalsfor30minssell.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'##ff0000'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

        <p class="card-text">{{allsignalsfor30minssell.lastSellEvent}} GMT</p>
        <p class="card-text">Entry Criteria: <b>SELL when Market Price >= {{allsignalsfor30minssell.lastSellPrice}} ??</b></p>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
        <div class="like-content" align="left">

          <button class="btn-secondary like-review" align="left" onclick="">
            <i class="fa fa-heart" aria-hidden="true"></i> 25
          </button>

        </div>



     
      </div>


     </div>
   </div>
 </div>
</div>



<br>
 
<div class="container">

<div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
  <b><h1>Hourly Sells</h1></b>
  </div>
 </div>

<br>
 

<div class="container">

 <div class="row ">
   <div *ngFor="let allsignalsforhourlysell of allsignalsforhourlysell" class="col-md-12">
     <div class="shadow-box">
       
     

      <div class="card-body">
                  
        <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsforhourlysell.indicator}}</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsforhourlysell.lasttradedprice)}} ??</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

        <h5 class="card-title" style="font-weight: bold;">{{allsignalsforhourlysell.company}}</h5>

        <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->

          <!-- <circle-progress
[percent]="allsignalsforhourlysell.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'##ff0000'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

        <p class="card-text">{{allsignalsforhourlysell.lastSellEvent}} GMT</p>
        <p class="card-text">Entry Criteria: <b>SELL when Market Price >= {{allsignalsforhourlysell.lastSellPrice}} ??</b></p>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
        <div class="like-content" align="left">

          <button class="btn-secondary like-review" align="left" onclick="">
            <i class="fa fa-heart" aria-hidden="true"></i> 25
          </button>

        </div>



     
      </div>


     </div>
   </div>
 </div>
</div>



<br>
 
<div class="container">

<div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
  <b><h1>Daily Sells</h1></b>
  </div>
 </div>

<br>
 

<div class="container">

 <div class="row ">
   <div *ngFor="let allsignalsfordailysell of allsignalsfordailysell" class="col-md-12">
     <div class="shadow-box">
       
     

      <div class="card-body">
                  
        <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsfordailysell.indicator}}</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsfordailysell.lasttradedprice)}} ??</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

        <h5 class="card-title" style="font-weight: bold;">{{allsignalsfordailysell.company}}</h5>

        <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->
<!-- 
          <circle-progress
[percent]="allsignalsfordailysell.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'##ff0000'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

        <p class="card-text">{{allsignalsfordailysell.lastSellEvent}} GMT</p>
        <p class="card-text">Entry Criteria: <b>SELL when Market Price >= {{allsignalsfordailysell.lastSellPrice}} ??</b></p>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
        <div class="like-content" align="left">

          <button class="btn-secondary like-review" align="left" onclick="">
            <i class="fa fa-heart" aria-hidden="true"></i> 25
          </button>

        </div>



     
      </div>


     </div>
   </div>
 </div>
</div>



<br>
 
<div class="container">

<div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
  <b><h1>Weekly Sells</h1></b>
  </div>
 </div>

<br>
 

<div class="container">

 <div class="row ">
   <div *ngFor="let allsignalsforweeklysell of allsignalsforweeklysell" class="col-md-12">
     <div class="shadow-box">
       
     

      <div class="card-body">
                  
        <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsforweeklysell.indicator}}</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsforweeklysell.lasttradedprice)}} ??</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

        <h5 class="card-title" style="font-weight: bold;">{{allsignalsforweeklysell.company}}</h5>

        <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->

          <!-- <circle-progress
[percent]="allsignalsforweeklysell.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'##ff0000'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

        <p class="card-text">{{allsignalsforweeklysell.lastSellEvent}} GMT</p>
        <p class="card-text">Entry Criteria: <b>SELL when Market Price >= {{allsignalsforweeklysell.lastSellPrice}} ??</b></p>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
        <div class="like-content" align="left">

          <button class="btn-secondary like-review" align="left" onclick="">
            <i class="fa fa-heart" aria-hidden="true"></i> 25
          </button>

        </div>



     
      </div>


     </div>
   </div>
 </div>
</div>



<br>
 
<div class="container">

<div style="text-align:center;color: #10085A;font-weight: bold;font-size: xx-large;">
  <b><h1>Monthly Sells</h1></b>
  </div>
 </div>

<br>
 

<div class="container">

 <div class="row ">
   <div *ngFor="let allsignalsformonthlysell of allsignalsformonthlysell" class="col-md-12">
     <div class="shadow-box">
       
     

      <div class="card-body">
                  
        <div class="card-text" align="left" style="font-variant-caps: all-petite-caps; color: #10085A">{{allsignalsformonthlysell.indicator}}</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color:blueviolet;">LTP*: {{(allsignalsformonthlysell.lasttradedprice)}} ??</div>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blueviolet;">MTM P/L*: 10 GBX</div>

        <h5 class="card-title" style="font-weight: bold;">{{allsignalsformonthlysell.company}}</h5>

        <h5 class="card-title"> -->

<!--      [outerStrokeColor]="'#ff0000'" -- this is for  red
-->

          <!-- <circle-progress
[percent]="allsignalsformonthlysell.confidence_level"
[radius]="30"
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'##ff0000'"
[innerStrokeColor]="'#e2e2e2'"
[animation]="true"
[animationDuration]="300"
[space]="5"
[showSubtitle]= "false"
[showUnits]= "true"
[unitsFontSize]= "10"
[titleFontSize]= "15"
[clockwise]= "true">
</circle-progress>
</h5>

        <p class="card-text">{{allsignalsformonthlysell.lastSellEvent}} GMT</p>
        <p class="card-text">Entry Criteria: <b>SELL when Market Price >= {{allsignalsformonthlysell.lastSellPrice}} ??</b></p>
        
        <div class="card-text" align="right" style="font-variant-caps: all-petite-caps; color: blue;">More Details...</div>
        <div class="like-content" align="left">

          <button class="btn-secondary like-review" align="left" onclick="">
            <i class="fa fa-heart" aria-hidden="true"></i> 25
          </button>

        </div>



     
      </div>


     </div>
   </div>
 </div>
</div> -->





<div id="formContent">
  <h2 class="underlineHover"  routerLink="/infopagemonthlybuy"  routerLinkActive="active">Monthly Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagemonthlysell"  routerLinkActive="active">Monthly Sell</h2>

  
  <h2 class="underlineHover"  routerLink="/infopageweeklybuy"  routerLinkActive="active">Weekly Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopageweeklysell"  routerLinkActive="active">Weekly Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopagedailybuy"  routerLinkActive="active">Daily Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagedailysell"  routerLinkActive="active">Daily Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopagehourlybuy"  routerLinkActive="active">Hourly Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagehourlysell"  routerLinkActive="active">Hourly Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopagemins30buy"  routerLinkActive="active">30 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagemins30sell"  routerLinkActive="active">30 Mins Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopagemins15buy"  routerLinkActive="active">15 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagemins15sell"  routerLinkActive="active">15 Mins Sell</h2>
  
  <h2 class="underlineHover"  routerLink="/infopagemins5buy"  routerLinkActive="active">5 Mins Buy</h2>
  <h2 class="underlineHover"  routerLink="/infopagemins5sell"  routerLinkActive="active">5 Mins Sell</h2>
  
  <router-outlet></router-outlet>
</div>







</div>




</div>
<br>
<app-footer></app-footer>